body{
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
}
.contenedor-principal{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
}
input{
    padding: 5px;
    border-radius: 5px;
    margin:10px;
}
button{
    background-color: rgb(255, 7, 7);
    padding: 5px 15px;
    transition: all .3s ease;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: rgb(240, 82, 82);
}
.contenedor{
    width: 80%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
}

.caja{
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid black;
    background-color: white;
}
p{
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    text-align: center;
}
.imagen{
    width: 200px;
    height: 150px;
    object-fit: cover;
}